/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1920px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #ff8724;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

h2.titulo {
    color: #fff;
    font-size: 48px;
    text-align: center;
    padding-top: 5px;
}

h2.titulo span {
    color: #ff8724;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ff87248f;
    transform: scale(1.05);
}

.section {
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
    text-shadow: 0px 0px 15px #ffffff56;
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li  {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO MENU MOBILE */

.btn-abrir-menu i{
    color: #ff8724;
    font-size: 45px;
}
.menu-mobile{
    background: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300px;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #ff8724;
    color: #000;
}

.menu-mobile .btn-fechar{
    padding: 20px 8%;
}

.menu-mobile .btn-fechar i{
    color: #ff8724;
    font-size: 40px;
}

.overlay-menu {
    background-color: #000000be;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
}

.btn-abrir-menu{
    display: none;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site .flex p{
    text-align: justify;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 47px;
    line-height: 40px;
    padding: 10px;
}

hr {
    margin-top: 15px;
    box-shadow: 0 0 10px;
}

.btn-contato{
    margin-top: 20px;
}

.topo-do-site .txt-topo-site h1 span .pontuacao {
    font-size: 1.25em;
    color: #ff8724;
}

.pontuacao{
    color: #ff8724;
    font-size: 1.25em;
    margin: 0 0 0 2px;
}

.topo-do-site .txt-topo-site h1 .block {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 5px 0;
    font-size: 20px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades {
    padding: 80px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border: 2px solid #fff;
    margin-top: 45px;
    border-radius: 25px;
    transition: 0.5s;
    max-width: 500px;
}

.especialidades .especialidades-box p {
    font-size: 18px;
    text-align: justify;
}

.especialidades .especialidades-box span {
    color: #ff8724e0;
    display: block;
    margin-top: 25px;
    margin-bottom: 1px;
    font-weight: 700;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff65;
}

.especialidades .especialidades-box i {
    font-size: 78px;
    color: #ff8724;
}

.especialidades .especialidades-box h3 {
    font-size: 30px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre img {
    width: 600px;
    height: 630px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #ff8724;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #ff8724;
    font-size: 25px;
    cursor: pointer;
    margin: 0px 10px;
    transition: 0.5s;
}

.sobre .txt-sobre p {
    font-size: 20px;
}

/*ESTILO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff15;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: #ff8724;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DOS FORMULARIO */

section.formulario {
    padding: 80px 4%;

}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 30px;
    font-size: 30;
    color: #fff;
}

form input::placeholder,
form textarea::placeholder {
    color: #ffffff77;
}

form textarea {
    resize: none;
    height: 175px;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 10px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #ff8724;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff15;

}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #ff8724;
    width: 100%;
}

footer .line-footer p i {
    color: #ff8724;
    font-size: 30px;
}

footer .line-footer p a {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 20px;
    color: #fff;
}

footer .btn-social button {
    margin-top: 50px;
}

/**************************MEDIA*****************************/

@media screen and (max-width: 1207px) {

    /*CLASSES GERAIS*/

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 35px;
        line-height: 37px;
    }

    /*CABEÇALHO*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .btn-abrir-menu{
        display: block;
    }

    /*TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 0px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 35px;
        line-height: 37px;
        text-align: inherit;
    }

    .topo-do-site p {
        margin-top: 40px;
    }

    .topo-do-site p .second-txt {
        visibility: hidden;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    section.topo-do-site .flex {
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    section.topo-do-site .flex p{
       margin-top: 30px;
    }

    /*ESPECIALIDADES*/
    section.especialidades {
        margin-top: 30px;
        padding: 0px 8%;
    }

    section.especialidades .especialidades-box{
        text-align: center;
    }

    section.especialidades .especialidades-box p {
        text-align: center;
    }

    /*SOBRE*/
    section.sobre {
        padding: 50px 8%;
    }

    .btn-social button{
        margin: 0px 10px;
    }

    .sobre .txt-sobre h2{ 
        font-size: 40px;
        line-height: 36px;
        text-align: center;
    }

    .sobre .txt-sobre p{ 
        text-align: initial;
    }

    .btn-social {
        text-align: center;
    }

    .sobre .img-sobre img {
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 50px;
    }

    /*PORTFÓLIO*/
    section.portfolio {
        padding: 40px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 45px;
    }

    /*FORMULARIO*/
    section.formulario {
        padding: 80px 8%;
        
    }

    section.formulario .titulo{
        padding: 0 0 2px 0 ;
    }

    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }

    footer .line-footer img a{
        margin-top: 0px;
    }

    footer .btn-social button{
        margin: 0px 10px;
        text-align: center;
    }

}